<div class="container">
  <div class="row mt-5">
    <div class="card border-info mt-5">
    <div class="card-header"> Bienvenue sur la page d'accueil</div>
    <div class="card-body">
      <h4 class="card-title">Home page</h4>
      <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo voluptate atque alias illo rerum expedita molestias voluptates commodi vel, provident nisi ducimus explicabo incidunt quibusdam asperiores debitis accusantium perferendis totam.</p>
      <p class="low--dark">Bienvenue</p>
    </div>
  </div>
</div>
